.cv {
  width: 1024px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

pre.prettyprint {
  background-color: #F6F8FA;
}

summary {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

h4 {
  text-transform: uppercase;
}

a { 
  text-decoration: none;
 }

 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .contact-info {
  text-align: center;
 }